
@{
    ViewBag.Title = "DetallesRequisitos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var Requisitos = (Project_Manager.Services.BO.TblRequisitosBO)ViewBag.requisitoObj;
    var ComenRequi = (List<Project_Manager.Services.BO.TblComentarioBO>)ViewBag.ComentarioRe;
}

<div class="row" style="padding:2%">
    <div class="col">
        <div class="text-center">
            <h3>Detalles De Requisitos</h3>
        </div>
        <div class="row g-0">
            <div class="col-6 col-md-2"><b>Requisito</b></div>
            <div class="col-sm-6 col-md-8">@Requisitos.IdRequisito</div>
        </div>
        <div class="row g-0">
            <div class="col-6 col-md-2"><b>Titulo</b></div>
            <div class="col-sm-6 col-md-8">@Requisitos.Titulo</div>
        </div>
        <div class="row g-0">
            <div class="col-6 col-md-2"><b>Descripcion</b></div>
            <div class="col-sm-6 col-md-8">@Requisitos.Descripcion</div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>Imagen</h3>
            </div>
            <div class="col-lg-6">
                <div class="im-search-box face" id="face-box" style="width:200%"></div>
            </div>
        </div>

    </div>
    <div class="col">
        <h2>Comentario</h2>
        <div>
            <div class="container row contenedo_msj">
                @if (ComenRequi.Count > 0)
                {
                    foreach (Project_Manager.Services.BO.TblComentarioBO itemC in ComenRequi)
                    {
                        if (itemC.FKUsuario == Session["Usuario"].ToString())
                        {
                            <div class="mensaje-der col-12" style="padding:1%;">
                                <div class="cuerpo_msj">
                                    <div class="msj-texto">
                                        <span class="tiempo"><i class="icon-clock"></i> @itemC.Tiempo | Yo</span>
                                        <h4>@itemC.Comentario</h4>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="mensaje-izq col-12" style="padding:1%;">
                                <div class="cuerpo_msj">
                                    <div class="msj-texto">
                                        <span class="tiempo"><i class="icon-clock"></i> @itemC.Tiempo | @itemC.FKUsuario</span>
                                        <h4>@itemC.Comentario</h4>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="float-left col-12" style="padding:1%;">
                        <h6>Sin Comentarios, Por favor no realice ninguno :P</h6>
                    </div>
                }
            </div>
        </div>
        <div>
            <form method="post" id="formcommentaryRequisito">
                <input id="idrequisito" type="text" value="@Requisitos.IdRequisito" style="display:none" />
                <input id="folio" type="text" value="@Requisitos.FKProyecto" style="display:none" />
                <div class="input-group input-group-newsletter">
                    <input type="text" id="mensaje" class="form-control" placeholder="Mensaje...">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit" id="submit-button"><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/CommentarioRequirement.js"></script>
<script>
    $(function () {
        Commentary.init();
    });
</script>

<script src="~/Scripts/RolEmpleado.js"></script>
<script>
    $(function () {
        Rol.initmg(@Requisitos.IdRequisito, 'Requisitos');
    });
</script>

