
@{
    ViewBag.Title = "Ap-Manger | Cliente - Inicio";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var Tareas = (List<Project_Manager.Services.BO.TblProyectosBO>)ViewBag.TareasList;

}
<div class="container-fluid" style="padding:5%">
    @if (Tareas.Count > 0)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Datos de mis proyectos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                        <thead>

                            <tr>
                                <th scope="col">Nombre del proyecto</th>
                                <th scope="col">Progreso</th>
                                <th scope="col">Detalles</th>

                            </tr>

                        </thead>

                        <tbody>

                            @foreach (Project_Manager.Services.BO.TblProyectosBO item in Tareas)
                            {
                                int actual = item.Tareas - item.Pendiente;
                                <tr>
                                    <td>@item.NombreProyecto</td>
                                    @switch (item.Estatus)
                                    {
                                        case 0:
                                            <td align="center">
                                                <form name="formulario" method="post" action="/send.php">
                                                    <!-- Medidor -->
                                                    <meter min="0" max="@item.Tareas" low="1" high="3" optimum="100" value="@actual"></meter>
                                                </form>
                                            </td>
                                            break;

                                        case 1:
                                            <td align="center">
                                                <button type="button" onclick="Project.evts.repararProyecto('@item.Folio')" class="btn btn-danger">Regresar con incidencia</button>
                                                <button type="button" onclick="Project.evts.finalizarProyecto('@item.Folio')" class="btn btn-success">Confirmar Entrega</button>
                                            </td>
                                            break;
                                        case 2:
                                            <td align="center">
                                                Completado
                                            </td>
                                            break;
                                    }
                                    <td align="center">
                                        @if (item.Estatus == 1)
                                        {
                                            <a href="@Url.Content(string.Format("~/RolCliente/CreateIncidencia?i={0}", item.Folio))" title="Incidencias" class="btn btn-warning"><i class="fas fa-exclamation"></i></a>

                                        }
                                        <a href="@Url.Content(string.Format("~/RolCliente/CreateRequisito?i={0}", item.Folio))" title="Requisitos" class="btn btn-warning"><i class="fas fa-file-signature"></i></a>
                                        <a href="@Url.Content(string.Format("~/Proyectos/Task?i={0}", item.Folio))" title="Tareas" class="btn btn-warning"><i class="fas fa-folder-plus"></i></a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <h2> Sin resultados</h2>

    }
</div>


<script src="~/Scripts/ProjectAll.js"></script>
<script>
    $(function () {
        Project.init();
    });
</script>