@model IEnumerable<Project_Manager.Models.tblProyectos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrioridadProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCliente.NombreCliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrioridadProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCliente.NombreCliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDProyecto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDProyecto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDProyecto })
        </td>
    </tr>
}

</table>
