@model Project_Manager.Models.tblEmpleado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblEmpleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneroEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneroEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblCuenta.CorreoCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCuenta.CorreoCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblRol.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRol.Rol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDEmpleado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
